{
  "mcpServers": {
    "challenge1": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9001/mcp"
      ]
    },
    "challenge2": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9002/mcp"
      ]
    },
    "challenge3": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9003/mcp"
      ]
    },
    "challenge4": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9004/mcp"
      ]
    },
    "challenge5": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9005/mcp"
      ]
    },
    "challenge6": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9006/mcp"
      ]
    },
    "challenge7": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9007/mcp"
      ]
    },
    "challenge8": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9008/mcp"
      ]
    },
    "challenge9": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9009/mcp"
      ]
    },
    "challenge10": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9010/mcp"
      ]
    }
  }
}