{
  "mcpServers": {
    "challenge1": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9001/sse"
      ]
    },
    "challenge2": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9002/sse"
      ]
    },
    "challenge3": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9003/sse"
      ]
    },
    "challenge4": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9004/sse"
      ]
    },
    "challenge5": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9005/sse"
      ]
    },
    "challenge6": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9006/sse"
      ]
    },
    "challenge7": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9007/sse"
      ]
    },
    "challenge8": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9008/sse"
      ]
    },
    "challenge9": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9009/sse"
      ]
    },
    "challenge10": {
      "command": "npx",
      "args": [
        "mcp-remote",
        "http://localhost:9010/sse"
      ]
    }
  }
}