{
  "mcpServers": {
    "challenge1": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/easy/challenge1",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge2": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/easy/challenge2",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge3": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/easy/challenge3",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge4": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/medium/challenge4",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge5": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/medium/challenge5",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge6": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/medium/challenge6",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge7": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/medium/challenge7",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge8": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/hard/challenge8",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge9": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/hard/challenge9",
        "run",
        "server_stdio.py"
      ]
    },
    "challenge10": {
      "command": "uv",
      "args": [
        "--directory", "C:/damn-vulnerable-MCP-server/challenges/hard/challenge10",
        "run",
        "server_stdio.py"
      ]
    }
  }
}
